apiVersion: k3d.io/v1alpha4
kind: Simple
metadata:
  name: {{ cluster_name }}
servers: {{ server_count }}
agents: {{ agent_count }}
image: docker.io/rancher/k3s:{{ k3s_version }}
volumes:
  - volume: {{ host_volume_path }}:{{ pod_volume_path }}
    nodeFilters:
      - server:0
      - agent:*